$body-bg: #111;
$body-color: #ddd;
$font-family: "Segoe UI", "Helvetica Neue", sans-serif;
$link-color: #4da3ff;
$link-hover: #66b0ff;
$nav-link-color: #66b0ff;

$border-color: #444;
$input-border: #444;
$th-bg: #1a1a1a;
$th-color: #eee;

$tr-even-bg: #181818;
$blockquote-bg: #1a1a1a;
$blockquote-border: #444;

$blockquote-color: #bbb;
$code-bg: #222;
$code-color: #eee;
$pre-bg: #181818;
$pre-color: #eee;
$footer-color: #666;
$footer-border: rgba(255,255,255,0.1);
$mark-bg: #665f1a;

$mark-color: #fff;

$abbr-border: #aaa;
$abbr-color: #ddd;
$abbr-tooltip-bg: #222;
$abbr-tooltip-color: #eee;
$button-bg: #0056b3;

$button-hover: #3388ff;
$button-color: #fff;
$input-bg: #222;
$input-color: #eee;
